body {
  background: hsla(218, 12%, 60%, 0.918);
}
.container {
  max-width: 400px;
}
input[type="text"],
input[type="text"]:focus {
  color: black;
  border: none;
  background: white;
  max-width: 400px;
}
.todos li {
  background: #4b716c;
}
.delete {
  cursor: pointer;
}
.filtered {
  display: none !important;
}
